.wrap {
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: silver;
}

.wrap > a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
}

.wrap > a[class="active"] {
  color: #000;
}

.wrap > a:active {
  color: #000;
}
